* {
  border: none;
  border-radius: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 15px;
  min-height: 20px;
  margin: 1px;
}

window#waybar {
  background: rgba(43, 48, 59, 0.5);
  border-bottom: 3px solid rgba(100, 114, 125, 0.5);
  color: white;
}

#workspaces {
  background-color: rgba(20, 20, 20, 0.9);
  border-radius: 15px;
  padding: 0 10px;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

#workspaces button {
  padding: 0 5px;
  background: transparent;
  color: white;
  border-color: white;
  border-bottom: 2px solid transparent;
}

#workspaces button.active {
  background: transparent;
  border-radius: 0;
  border-bottom: 2px solid white;
}

#mode {
  background: #64727d;
  border-bottom: 3px solid white;
}

#clock {
  background-color: rgba(20, 20, 20, 0.9);
  color: white;
  border-radius: 15px;
  padding: 0 15px;
  padding-top: 3px;
  border-left: 1px solid white;
  border-right: 1px solid white;
}
calendar {
  color: black;
  background: black;
}

calendar:selected {
  background: red;
  border: 1px solid red;
  color: #1e1e2e;
}

calendar.highlight {
  background: red;
  border: 1px solid red;
  color: #1e1e2e;
}

tooltip {
  background: rgba(20, 20, 20, 0.95);
  border: 1px solid rgba(100, 100, 100, 0.9);
  border-radius: 15px;
  color: #cdd6f4;
}

#cpu,
#memory,
#backlight,
#pulseaudio,
#network,
#battery,
#tray {
  background-color: rgba(20, 20, 20, 0.9);
  margin: 1px 0;
  padding: 0 10px;
  border-right: 1px solid white;
}

#cpu {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-left: 1px solid white;
}

#battery {
  background-color: rgba(20, 20, 20, 0.9);
  color: white;
  margin-left: 0;
  padding-right: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

#battery.charging {
  color: white;
  background-color: #26a65b;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: black;
  }
}

#battery.warning:not(.charging) {
  background: #f53c3c;
  color: white;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
